@keyframes fadeln {
    from {opacity: 0.1; }
    to { opacity: 1; }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}
@keyframes colorChange {
    0% { color: rgb(240, 46, 202); }
    50% { color: rgb(105, 3, 84); }
    100% { color: rgb(190, 3, 153); }
}
@keyframes scaleUp {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(-15px); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes walk {
    0% { transform: translateX(0); }
    100% { transform: translateX(300px); }
}